.container-fluid {
    padding-left: 24px;
    padding-right: 24px;
}

.row {
    margin-left: -8px; 
    margin-right: -8px; 
    display: flex;
    flex-wrap: wrap;
}

.col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
}

.card {
    width: calc(100vw / 6 - 16px);
    height: calc(100vw / 6 - 16px);
    min-width: 150px;
    padding: 12px;
    border-radius: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.18);
    z-index: 1;
    transition: transform 0.3s ease;
}

p {
    margin-bottom: 0rem;
}

.description {
    /* margin-left: 28px !important ; */
    margin-top: 2rem !important ;
    color: grey !important ;
    /* margin-left: 14px; */
}

.date-wrapper {
    display: flex;
    flex-direction: column;
}

.date-wrapper p {
    margin-bottom: 0;
    color: grey;
}

/* Button Style */
.btn-style {
    display: flex;
    margin: 0 8px 8px 0;
    cursor: pointer;
    width: 32px;
    font-size: 1rem;
    padding-top: 4px;
    margin-left: -1px;
    color: #666;
}

.btn-style:hover {
    color: #131313;
}

.btn-style input[type="radio"] {
    display: none;
}

.btn-style input[type="radio"]:checked + span {
    font-weight: bold;
    color: #131313;
    text-decoration: underline;
}

.filter-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    margin-left: 24px;
    margin-top: 4px;
}

.month-filter, .time-of-day-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 36px;
}

.mb-4 {
    margin-bottom: 1rem!important;
}

.mt-5 {
    margin-top: 1rem!important;
}

@media (max-width: 576px) {
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .btn-style {
        width: 14px;
        margin-bottom: 9px;
        margin-right: 36px;
    }

    .card {
        width: calc(100vw - 24px);
        height: calc(100vw - 24px);
    }

    p {
        margin-bottom: 1rem;
    }

    .month-filter, .time-of-day-filter {
        margin-left: -16px;
    }

    .description {
        /* margin-left: 16px !important ; */
        margin-top: 2rem !important ;
        color: grey !important ;
        /* margin-left: 6px; */
    }
}

@media (min-width: 576px) and (max-width: 900px) {
    .col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .card {
        width: calc(100vw / 2 - 16px);
        height: calc(100vw / 2 - 16px);
    }
}

@media (min-width: 901px) and (max-width: 1180px) {
    .col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }

    .card {
        width: calc(100vw / 3 - 16px);
        height: calc(100vw / 3 - 16px);
    }
}

@media (min-width: 1180px) and (max-width: 1440px) {
    .col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .card {
        width: calc(100vw / 4 - 16px);
        height: calc(100vw / 4 - 16px);
    }
}

@media (min-width: 1440px) and (max-width: 1680px) {
    .col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .card {
        width: calc(100vw / 5 - 16px);
        height: calc(100vw / 5 - 16px);
    }
}

@media (min-width: 2001px) {
    .col-12, .col-md-4, .col-lg-2, .col-xl-5, .col-xxl-4 {
        flex: 0 0 14.28%;
        max-width: 14.28%;
    }

    .card {
        width: calc(100vw / 7 - 16px);
        height: calc(100vw / 7 - 16px);
    }
}
